@charset "UTF-8";
/* テスト */
/* mixin */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hisamatsu\/Dropbox\/code\/coffee\/Coffee-Scss-Grunt-Buildup\/scss\/style\.scss}line{font-family:\000031}}
.foo, #global div {
  width: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hisamatsu\/Dropbox\/code\/coffee\/Coffee-Scss-Grunt-Buildup\/scss\/style\.scss}line{font-family:\000031}}
#global ul {
  width: 80%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hisamatsu\/Dropbox\/code\/coffee\/Coffee-Scss-Grunt-Buildup\/scss\/style\.scss}line{font-family:\000031}}
#global li {
  width: 80%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hisamatsu\/Dropbox\/code\/coffee\/Coffee-Scss-Grunt-Buildup\/scss\/style\.scss}line{font-family:\000031}}
#global div {
  border-width: 1px;
  border-color: #eee;
}
